html, body {
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}





                                                        /*НАШИ СТИЛИ*/

                                                        /*СТИЛИ Layout.ptl*/
.navbar-layout {
    height: 103px;
    background-color: #E0F0D0; /* Цвет фона */
    display: flex; /* Включаем Flexbox */
    flex-direction: row; /* Элементы в строку (это значение по умолчанию) */
    justify-content: center;
    align-items: center;
    gap: 10px; /* Отступы между элементами (необязательно) */
    padding: 10px; /* Внутренние отступы */
}

.navbar-layout > div {
     background-color: rgba(0, 0, 0, 0.05);
     padding: 24px 40px;
}

.navbar.navbar-button-list {
    display: flex; /* включает Flexbox */
    list-style: none; /* убирает маркеры списка */
    margin: 0;
    padding: 0;
    gap: 15px; /* расстояние между пунктами (можно изменить) */
}

/* Стили для ссылок внутри списка */
.navbar-button-list > li > a {
    font-size: 16pt;
    text-decoration: none; /* убирает подчёркивание */
    color: black; /* наследует цвет текста (обычно чёрный) */
    padding: 5px 10px; /* добавляет отступы для удобного нажатия */
    display: inline-block; /* чтобы padding работал */
}

/* Эффект при наведении */
.navbar-button-list > li > a:hover {
    opacity: 0.7;
}